.cart__item{
     padding-bottom: 10px;
     border-bottom: 1px solid #9e0606;
}
.cart__item-info img{
     width: 70px;
     height: 70px;
     object-fit: cover;
}
.cart__menu-show{
     display: none;
}
.cart__product-name{
     font-size: 0.9rem;
     font-weight: 600;
}
.cart__product-price{
     font-size: 0.9rem;
}
.cart__product-price span{
     font-size: 0.9rem;
     font-weight: 600;
     color: #df2020;
}
.cart__product-item{
     
}
.cart__circle{
     width: 25px;
     height: 25px;
     background: #df8620;
     align-items: center;
     justify-content: center;
     display: flex;
     border-radius: 20px;
     color: black;
}
.cart__price{
     font-size: 1rem;
}